<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ru.ugraweb.utro2016" version="1.0.1">
  <name>Утро 2016</name>
  <description>Шестой форум молодежи Уральского федерального округа «УТРО-2016»</description>
  <author email="ugraweb@gmail.com" href="http://ugraweb.ru">Ugraweb Team</author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="^1.2.2"/>
  <plugin name="cordova-plugin-device" spec="^1.1.2"/>
  <plugin name="cordova-plugin-statusbar" spec="^2.1.3"/>
  <plugin name="cordova-plugin-splashscreen" spec="^3.2.2"/>
  <plugin name="cordova-plugin-geolocation" spec="^2.2.0"/>
  <plugin name="cordova-plugin-dialogs" spec="^1.2.1"/>
  <plugin name="pushwoosh-cordova-plugin" spec="^5.0.3" source="npm"/>
  <!-- общие настройки приложения для build.phonegap.com-->
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="target-device" value="universal"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <!-- настройки pushwoosh для build.phonegap.com-->
  <preference name="android-build-tool" value="gradle"/>
  <!-- настройки SplashScreen'а, вырубаем его по умолчанию-->
  <preference name="SplashScreenDelay" value="0"/>
  <preference name="FadeSplashScreenDuration" value="0"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <icon src="res/icon/128.png"/>
  <platform name="android">
    <!--
    ldpi    : 36x36 px
    mdpi    : 48x48 px
    hdpi    : 72x72 px
    xhdpi   : 96x96 px
    xxhdpi  : 144x144 px
    xxxhdpi : 192x192 px
    -->
    <icon src="res/icon/android/ldpi.png" density="ldpi"/>
    <icon src="res/icon/android/mdpi.png" density="mdpi"/>
    <icon src="res/icon/android/hdpi.png" density="hdpi"/>
    <icon src="res/icon/android/xhdpi.png" density="xhdpi"/>
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi"/>
    <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi"/>
  </platform>
  <platform name="ios">
    <!--
    iOS 7.0+
    iPhone 6 / 6+
    -->
    <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
    <!-- iPhone / iPod Touch-->
    <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
    <!-- iPad-->
    <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
    <!-- Settings Icon-->
    <icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
    <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
    <!-- Spotlight Icon-->
    <icon src="res/icon/ios/icon-40.png" width="40" height="40"/>
    <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80"/>
    <!--
    iOS 6.1
    iPhone / iPod Touch
    -->
    <icon src="res/icon/ios/icon.png" width="57" height="57"/>
    <icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
    <!-- iPad-->
    <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
    <!-- iPad Spotlight and Settings Icon-->
    <icon src="res/icon/ios/icon-50.png" width="50" height="50"/>
    <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100"/>
    <!--
    splash(src='res/screen/ios/Default~iphone.png', width='320', height='480')/
    splash(src='res/screen/ios/Default@2x~iphone.png', width='640', height='960')/
    splash(src='res/screen/ios/Default-Portrait~ipad.png', width='768', height='1024')/
    splash(src='res/screen/ios/Default-Portrait@2x~ipad.png', width='1536', height='2048')/
    splash(src='res/screen/ios/Default-568h@2x~iphone.png', width='640', height='1136')/
    splash(src='res/screen/ios/Default-667h.png', width='750', height='1334')/
    splash(src='res/screen/ios/Default-736h.png', width='1242', height='2208')/
    
    -->
  </platform>
  <access origin="*"/>
  <access origin="*.pushwoosh.com"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>