<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ru.ugraweb.utro2016" version="1.0.4">
  <name>Утро 2016</name>
  <description>Шестой форум молодежи Уральского федерального округа «УТРО-2016»</description>
  <author email="yvv@ugraweb.ru" href="http://ugraweb.ru">Ugraweb Team</author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1.3.2"/>
  <plugin name="cordova-plugin-statusbar" spec="2.2.2"/>
  <plugin name="cordova-plugin-splashscreen" spec="4.0.2"/>
  <plugin name="cordova-plugin-code-push" spec="1.9.3-beta"/>
  <!-- SplashScreen-->
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <!-- status bar-->
  <preference name="StatusBarBackgroundColor" value="#2791ba"/>
  <!-- общие настройки приложения для build.phonegap.com-->
  <preference name="orientation" value="portrait"/>
  <preference name="permissions" value="none"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="target-device" value="universal"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <icon src="res/icon/128.png"/>
  <platform name="android">
    <icon src="res/icon/android/ldpi.png" density="ldpi"/>
    <icon src="res/icon/android/mdpi.png" density="mdpi"/>
    <icon src="res/icon/android/hdpi.png" density="hdpi"/>
    <icon src="res/icon/android/xhdpi.png" density="xhdpi"/>
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi"/>
    <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi"/>
    <splash src="res/screen/android/hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/ldpi.png" density="port-ldpi"/>
    <splash src="res/screen/android/mdpi.png" density="port-mdpi"/>
    <splash src="res/screen/android/xhdpi.png" density="port-xhdpi"/>
    <splash src="res/screen/android/xxhdpi.png" density="xxhdpi"/>
    <splash src="res/screen/android/xxxhdpi.png" density="xxxhdpi"/>
    <preference name="CodePushDeploymentKey" value="u_rFDBu_3jFsZpEPSThB0QKmeYrlVJPn3k99z"/>
  </platform>
  <platform name="ios">
    <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
    <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
    <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
    <icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
    <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
    <icon src="res/icon/ios/icon-40.png" width="40" height="40"/>
    <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80"/>
    <icon src="res/icon/ios/icon.png" width="57" height="57"/>
    <icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
    <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
    <icon src="res/icon/ios/icon-50.png" width="50" height="50"/>
    <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100"/>
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <preference name="CodePushDeploymentKey" value="yQCSL_ushfYG5H7xkWS8P5M-55wSVJPn3k99z"/>
  </platform>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>